.header {
  height: 50px;
  background-color: var(--color-medium);
}

.header__container {
  height: 100%;
  padding: 10px;
}

.header__counter {
  text-align: end;
  font-weight: bold;
  cursor: pointer;
}
