.shopping__container {
  margin: auto;
  padding: 30px;
  width: 97%;
  height: 97vh;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
}

.shopping-element__name {
  padding: 30px;
  font-weight: bold;
}

.shopping-element__price {
  padding: 30px;
  color: var(--color-unaccent);
}

.shopping__close {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 20px;
  right: 20px;
  background-image: url('./img/close.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
}
